@{
ViewData["Title"]="Index";
}
<h1>Todo</h1>
<a href="#" class="btn btn-primary">Shopping</a> <a href="#" class="btn btn-primary">Tasks</a>
<a href="#">Create New List</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Is Done</td>
            <td>Name</td>
            <td>Description</td>
            <td>Due Date</td>
            <td>List Name</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td>Task 1</td>
            <td>Desc</td>
            <td>2020-07-09</td>
            <td>Tasks</td>
            <td><a href="#">Edit</a> | <a href="#">Delete</a></td>

        </tr>
    </tbody>




</table>
